<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A site to help Massachusetts residents find a vaccine">
    <meta name="author" content="MA Volunteers">
    <link rel="shortcut icon" type="image/x-icon" href="ma_logo.png" />
    <meta property="og:title" content="COVID-19 Vaccine Eligibility" />
    <meta property="og:image" content="ma_logo.png"/>

    <title>COVID-19 Vaccine Eligibility</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron.css" %>" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPH643QYMP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TPH643QYMP');
    </script>

  </head>

  <body>

    <div class="container">
      <div class="header">
      <div class="collapse navbar-collapse" id="navbarNav" style="float:right">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">COVID-19 Vaccine Availability</a></li>
          <li><a href="/search">Search Near Me</a></li>
          <li class="active"><a href="/eligibility">Eligibility</a></li>
          <li><a href="/sites">Vaccination Sites</a></li>
          <li><a href="/FAQ" >Who We Are</a></li>
        </ul>
      </div>
      <div class="nav-mobile"  style="display:none">
        <ul class="nav nav-pills pull-right" id="navbarNav" style="float:right">
          <li ><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li class="active"><a href="/eligibility">Elig.</a></li>
          <li><a href="/sites">Sites</a></li>
          <li><a href="/FAQ" >FAQ</a></li>
        </ul>
      </div>
      <div>  <h3 class="text-muted" ><img src = "ma_logo.png" style = "height:1em; "> Vaccinate MA</h3>
      </div>
        
      </div>
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
  
      <div class="jumbotron">
        <h2>Eligibility</h2>
        <p class="lead">Massachusetts is now in vaccine eligibility Phase 2, Group 2, which started on Febuary 18, 2021. Please check all eligibility requirements below and sign up for your appointment in advance using the link or phone number included in the site location’s details. Note that minors (16-17 years old) are only eligible to receive the Pfizer vaccine, not Moderna. Vaccination locations are available only to those within active and eligible priority groups as a part of the Massachusetts <a href="https://www.mass.gov/info-details/covid-19-vaccine-distribution-timeline-phase-overview" target="_blank"> vaccine distribution timeline</a>. Individuals must present proof of their eligibility to receive the vaccine. <b>All sites require appointments</b>.</p>
      </div>
      <img src="https://www.mass.gov/files/styles/embedded_full_width/public/images/2021-02/covidvaccine_phases-1-and-2ab-timing-by-group_social_1920x1080-no-url.png" class="center">

      <div class="footer">
        <p>An effort by a group of Massachusetts volunteers. <a href="https://docs.google.com/forms/d/e/1FAIpQLSel9cjb4X0Zv5zuygWx9UnXpXrP2INJTrOW7j9MNXNdv7lKnw/viewform">Let us know if you found this site useful!</a></p>
        <p> This site was put together by volunteers using our best efforts to assemble readily available data from public sources. This site does not provide medical advice, nor does it provide any type of technical advice. vaccinatema.com is not responsible for any errors or omissions. </p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
