<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A site to help Massachusetts residents find a vaccine">
    <meta name="author" content="MA Volunteers">
    <meta property="og:title" content="Help people get vaccinated for COVID-19" />
    <link rel="shortcut icon" type="image/x-icon" href="ma_logo.png" />
    <meta property="og:image" content="ma_logo.png"/>

    <title>Get Involved</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron.css" %>" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPH643QYMP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TPH643QYMP');
    </script>

  </head>

  <body>

    <div class="container">
      <div class="header">
      <div class="collapse navbar-collapse" id="navbarNav" style="float:right">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">COVID-19 Vaccine Availability</a></li>
          <li><a href="/search">Search Near Me</a></li>
          <li><a href="/eligibility">Eligibility</a></li>
          <li><a href="/sites">Vaccination Sites</a></li>
          <li class="active"><a href="/FAQ" >Who We Are</a></li>
        </ul>
      </div>
      <div class="nav-mobile"  style="display:none">
        <ul class="nav nav-pills pull-right" id="navbarNav" style="float:right">
          <li ><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/eligibility">Elig.</a></li>
          <li><a href="/sites">Sites</a></li>
          <li class="active"><a href="/FAQ" >FAQ</a></li>
        </ul>
      </div>
      <div>  <h3 class="text-muted" ><img src = "ma_logo.png" style = "height:1em; "> Vaccinate MA</h3>
      </div>
        
      </div>
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
  
      <div class="jumbotron">
        <h2>FAQ</h2>
      <p>We are a group of volunteers helping Massachusetts residents get vaccinated. Our site uses a mix of automated and crowdsourced data to show vaccine appointment availability. VaccinateMA launched on January 17, 2021.</p>

      </div>
      <h3>Why are you doing this? Isn’t there a state site?</h3>
      Massachusetts is ~40th out of 50 states in percentage of doses administered, <a href="https://www.nytimes.com/interactive/2020/us/covid-19-vaccine-doses.html" target="_blank"> according to the CDC. </a> The <a href="https://www.mass.gov/info-details/covid-19-vaccine-locations-for-individuals-in-phase-1#find-a-location-to-get-vaccinated-if-eligible-" target="_blank"> existing site </a> requires multiple click-throughs to find availability and doesn't allow easy nagivation via Google Maps. We want to make this process easier.
      <h3>What if I want to help?</h3>
      Shoot us an email at <a href="mailto:vaccinatema@gmail.com" target="_blank"> vaccinatema@gmail.com </a>
      <h3>What if I’m a reporter and I want to contact you?</h3>
      Shoot us an email at <a href="mailto:vaccinatema@gmail.com" target="_blank"> vaccinatema@gmail.com </a>
      <h3>Who are you?</h3>
      We are a group of volunteers including Code for Boston, Zane, Kunal Shah, and many other engaged citizens.
      <br> <br>
      Inspired by <a href="https://vaccinateca.com" target="_blank"> vaccinateca.com </a> and Tyler Cowen of <a href="https://marginalrevolution.com" target="_blank"> Marginal Revolution </a>.  
      <br>
      <div class="footer">
        <p>An effort by a group of Massachusetts volunteers. <a href="https://docs.google.com/forms/d/e/1FAIpQLSel9cjb4X0Zv5zuygWx9UnXpXrP2INJTrOW7j9MNXNdv7lKnw/viewform">Let us know if you found this site useful!</a></p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
