body {
  background: #E5E5E5;
  padding-bottom: 0;
}

h3 {
  font-family: Mulish, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #252525;
}
.header,
.footer {
  .logo-container {
    cursor: pointer;
    padding-left: 30px;
    img {
      height: 60px;
    }
  }
}

.main-content {
  min-height: calc(100vh - 300px);
}
.footer {
  height: 200px;
  background: #D0DDE9;
  .logo-container {
    padding: 15px 30px;
  }
}

