.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-section-content {
    padding: 20px;
}

.modal-site-name-section {
    background: #C3DACD;
    border-top: 5px solid #388557;
}

.modal-site-address-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0;
    color: #252525;
}

.modal-book-appointment-section {
    background: rgba(0, 0, 0, 0.07);
}

.modal-book-appointment-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 0;
    color: #303030;
}

.modal-section-header {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #303030;
}

.modal-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
}