.search-result {
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    display: flex;
    margin-bottom: 16px;
    overflow: hidden;
    width: 100%;

    h4 {
        font-size: 18px;
        font-weight: 800;
    }

    p {
        font-size: 16px;
        overflow-wrap: break-word;
    }

    .header-available {
        background-color: $green-light;
    }

    .header-unavailable {
        background-color: $gray-light;
    }

    .header {
        display: flex;
        padding: 16px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        h3 {
            align-items: flex-end;
            display: flex;
            min-height: 50%;
        }

        h4 {
            align-items: flex-end;
            display: flex;
            font-size: 21px;
            font-weight: 700;
            min-height: 50%;
        }

        a {
            color: black;
            font-weight: 800;
            text-decoration: none;
            white-space: nowrap;
        }

        .address {
            margin-right: 8px;
        }

        @media screen and (min-width: 768px) {
            .site-name {
                width: 60%;
                margin-right: 6%;
            }
            .availability {
                width: 30%;
            }
        }
    }

    .icon {
        margin-right: 4px;
    }

    .bar {
        width: 8px;
    }

    .bar-available {
        background-color: $green;
    }

    .bar-unavailable {
        background-color: $gray-dark;
    }

    .contents {
        flex: 1;
        width: calc(100% - 8px);
    }

    .result-body {
        background-color: $white;
        display: flex;
        padding: 16px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        @media screen and (min-width: 768px) {
            div {
                width: 30%;
                margin-right: 3%;
            }
        }
    }
}
