$logo-offset: 79px;

$navbar-height: 70px;

// Colors
$black: #252525;
$gray-dark: #535353;
$gray-light: #DCDCDC;
$green-light: #C3DACD;
$green: #388557;
$white: #FFFFFF;
$dark-blue: #14558F;
$background: #F5F5F5;