@import "variables"; // must be first

@import "app";
@import "button";
@import "volunteer";
@import "mapAndList";
@import "searchHeader";
@import "searchResults";

@import url('https://fonts.googleapis.com/css?family=Mulish');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;800&display=swap');
